.projects {
	padding: 0 1rem 5rem 1rem;
	background-color: $lightGrey;

	@media (min-width: $desktop-width) {
		padding: 0 1rem 8rem 1rem;
	}

	&__content {
		@media (min-width: $tablet-width) {
			margin: 0 auto;
			width: 100%;
			max-width: 781px;
		}

		@media (min-width: $desktop-width) {
			margin: 0 auto;
			max-width: 1184px;
		}
	}

	&__title {
		@include sectionTitle;
		padding-top: 5rem;

		@media (min-width: $desktop-width) {
			padding-top: 8rem;
			font-size: 2.25rem;
			line-height: 3rem;
			text-align: left;
		}
	}

	&__paragraph {
		@include paragraph;
		margin: 0.5rem 0 2rem 0;
		text-align: center;

		@media (min-width: $desktop-width) {
			margin: 1rem 0 4rem 0;
			text-align: left;
			font-size: 1.25rem;
			width: 100%;
			max-width: 580px;
		}
	}

	&__cards {
		margin-top: 2rem;
		padding: 0;
		list-style: none;
		position: relative;

		@media (min-width: $tablet-width) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1.5rem;
		}
	}

	&__card {
		margin-bottom: 1rem;
		background-color: $white;
		box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
		border-radius: 4px;
		z-index: 15;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&--slideOut {
			position: absolute;
			transform: translateY(-300%);
			animation: slideOutCards 1.5s ease-in-out;
			opacity: 0;
		}

		&--slideIn {
			animation: slideInCards 1.5s ease-in-out;
			z-index: 0;
		}

		@media (min-width: $tablet-width) {
			margin-bottom: 0;
			box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
			border-radius: 8px;
		}
	}

	&__wrapper {
		padding: 2rem 1.625rem 0 2rem;
		@media (min-width: $tablet-width) {
			padding: 3rem 3rem 0 3rem;
		}
	}

	&__logo {
		width: 40px;
		height: 40px;

		@media (min-width: $desktop-width) {
			width: 48px;
			height: 48px;
		}
	}

	&__name {
		margin: 1rem 0 0.25rem 0;
		font-size: 1rem;
		font-weight: $bold;
		line-height: 1.5rem;

		@media (min-width: $desktop-width) {
			margin: 1rem 0 0.5rem 0;
			font-size: 1.25rem;
			line-height: 2.25rem;
		}
	}

	&__description {
		@include paragraph;
		margin: 0;
		margin-bottom: 2rem;
		text-align: left;

		@media (min-width: $desktop-width) {
			margin-bottom: 3rem;
			font-size: 1.125rem;
			line-height: 2rem;
		}
	}

	&__links {
		padding: 0.625rem 1rem 0.625rem 0;
		background-color: $lightGrey;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		@media (min-width: $desktop-width) {
			height: 64px;
		}
	}

	&__icon {
		padding: 0 0.375rem 0 1rem;

		@media (min-width: $desktop-width) {
			padding: 0 0.5rem 0 1rem;
			height: 24px;
		}
	}

	&__link {
		padding-right: 1rem;
		text-decoration: none;
		color: $blue;
		line-height: 28px;

		@media (min-width: $desktop-width) {
			font-size: 1.125rem;
			padding-right: 1.563rem;
		}

		&--border {
			border-right: solid 1px $grey;

			@media (min-width: $desktop-width) {
				border-right: solid 2px $grey;
			}
		}
	}

	&__button {
		display: block;
		margin: 2rem auto 0 auto;
		height: 3rem;
		width: 10rem;
		font-size: 1rem;
		font-weight: $bold;
		line-height: 2rem;
		color: $white;
		background-color: $black;
		border-radius: 8px;
		border: 2px solid $blue;
		box-shadow: 1px 2px 4px rgba(24, 41, 67, 0.5);

		@media (min-width: $desktop-width) {
			font-size: 1.5rem;
		}
	}
}

@keyframes slideInCards {
	0% {
		opacity: 0.1;
		transform: translateY(-100%);
	}

	70% {
		transform: translateY(5%);
		opacity: 0.8;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideOutCards {
	0% {
		transform: translateY(0);
		opacity: 1;
		position: relative;
	}

	20% {
		opacity: 0.5;
		position: relative;
	}

	40% {
		position: relative;
	}

	60% {
		transform: translateY(-200%);
		opacity: 0;
		position: absolute;
	}

	100% {
		transform: translateY(-200%);
		opacity: 0;
		position: absolute;
	}
}
