.skills {
    &__title {
        @include sectionTitle;
        margin-bottom: 6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 100%;
            max-width: 343px;
            background-color: $grey;
            opacity: 0.3;
        }
    }

    &__content {}

    &__subtitle {
        @include sectionSkills;
        margin-bottom: 0.5rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -25%;
            left: 0;
            width: 40px;
            height: 4px;
            border-radius: 8px;
            transform: matrix(1, 0, 0, -1, 0, 0);
        }

        &--green::before {
            background-color: $green;
        }

        &--purpure::before {
            background-color: $purpure;
        }

        &--darkerBlue::before {
            background-color: $darkerBlue;
        }
    }

    &__list {
        margin: 0 auto;
        margin-bottom: 3.5rem;
        list-style: none;
        padding: 0;
        margin-left: 8px;
    }

    &__item {
        font-size: 0.9rem;
        font-weight: $regular;
        line-height: 2rem;
        color: $darkGrey;
        position: relative;
        padding-left: 0.85rem;

        &::before {
            content: "";
            position: absolute;
            top: 25%;
            left: -0.5rem;
            height: 12px;
            width: 12px;
        }

        &--green::before {
            background-image: url(../assets/img/icons/iconGreen.svg);

        }

        &--purpure::before {
            background-image: url(../assets/img/icons/iconPurpure.svg);

        }

        &--blue::before {
            background-image: url(../assets/img/icons/iconBlue.svg);

        }
    }
}