.skills {
    margin-bottom: 5rem;
    padding: 0 1rem;

    @media (min-width: $tablet-width) {
        margin: 0 auto;
        width: 100%;
        max-width: 781px;
    }

    @media (min-width: $desktop-width) {
        margin: 0 auto;
        margin-bottom: 5rem;
        max-width: 1184px;
    }

    &__title {
        @include sectionTitle;
        margin-bottom: 6rem;
        position: relative;

        @media (min-width: $desktop-width) {
            font-size: 2.25rem;
            line-height: 3rem;
            text-align: left;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 100%;
            background-color: $grey;
            opacity: 0.3;
        }
    }

    &__content {
        @media (min-width: $desktop-width) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 8rem;
        }
    }

    &__subtitle {
        @include sectionSkills;
        margin-bottom: 0.5rem;
        position: relative;

        @media (min-width: $desktop-width) {
            margin: 0;
            text-align: left;
            font-size: 2rem;
            line-height: 2.75rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: -25%;
            left: 0;
            width: 40px;
            height: 4px;
            border-radius: 8px;
            transform: matrix(1, 0, 0, -1, 0, 0);

            @media (min-width: $tablet-width) {
                top: -5%;
                width: 80px;
            }
        }

        &--green::before {
            background-color: $green;
        }

        &--purpure::before {
            background-color: $purpure;
        }

        &--darkerBlue::before {
            background-color: $darkerBlue;
        }
    }

    &__list {
        margin: 0;
        margin-bottom: 3.5rem;
        list-style: none;
        padding: 0;
        margin-left: 8px;

        @media (min-width: $tablet-width) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1.5rem;

        }
    }

    &__item {
        font-size: 0.875rem;
        font-weight: $regular;
        line-height: 2rem;
        color: $darkGrey;
        position: relative;
        padding-left: 0.85rem;

        @media (min-width: $desktop-width) {
            font-size: 1.125rem;
            line-height: 2.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 25%;
            left: -0.5rem;
            height: 12px;
            width: 12px;
        }


        &--green::before {
            opacity: 0;
            transform: scale(1);
            background-image: url(../assets/img/icons/iconGreen.svg);

        }

        &--purpure::before {
            background-image: url(../assets/img/icons/iconPurpure.svg);

        }

        &--blue::before {
            background-image: url(../assets/img/icons/iconBlue.svg);

        }

        &--js::before {
            animation: skills 1.5s ease-in-out both;

        }




    }
}


@keyframes skills {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}