// Colors
$firstWhite: #ffffff;
$midNight: #171F3F;
$lighterBlue: #E6F5FF;
$lightblue: #64BEFF;
$blue:#0593FB;
$darkBlue: #076FBB;
$darkerBlue: #2251CC;
$lightGrey: #F5F7FA;
$grey: #CBD2D9;
$darkGrey: #52606D;
$purpure: #653CAD;
$green: #06C847;
$black: #171F3F;

// Fonts weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;



@mixin sectionTitle {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: $bold;
    line-height: 2rem;
    text-align: center;
    color: $black;
}

@mixin sectionSkills {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: $bold;
    line-height: 2rem;
    text-align: left;
    color: $black;

}